h2 {
  color: green;
}

.wadah {
  background-color: skyblue;
}

*body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px;
}

.gray {
  color: gray;
  font-weight: blod;
}
